<div class="ms-3 mb-3">
  <div class="mt-5 mb-5 pb-5" style="display: flex; justify-content: space-between; align-items: center">
    <h1>Input Text</h1>
    <a [routerLink]="['/']">
      <n-button icon="fa-solid fa-arrow-left"> Geri Dön </n-button>
    </a>
  </div>
  <h3 class="mt-5">Reactive Forms</h3>
  <form [formGroup]="form" (ngSubmit)="save()">
    <n-input-text controlName="name"></n-input-text>
    {{ name }}
  </form>

  <h3 class="mt-5">NgModel</h3>
  <ng-container class="mt-5">
    <n-input-text [(value)]="title"></n-input-text>
  </ng-container>
  {{ title }}

  <h3 class="mt-5">Size</h3>
  <h5>Small</h5>
  <n-input-text size="sm"></n-input-text>
  <h5>Medium</h5>
  <n-input-text size="md"></n-input-text>
  <h5>Large</h5>
  <n-input-text size="lg"></n-input-text>

  <h3 class="mt-5">Icon</h3>
  <n-input-text icon="fa fa-search"></n-input-text>

  <h3 class="mt-5">Icon Position</h3>
  <n-input-text icon="fa fa-search" iconPos="right"></n-input-text>

  <h3 class="mt-5">Input ID</h3>
  <label for="name">Name</label>
  <n-input-text inputId="name"></n-input-text>

  <h3 class="mt-5 pb-5">Floating Label</h3>
  <div class="mt-3 n-float-label n-float-label-lg">
    <label for="">Name</label>
    <n-input-text size="lg"></n-input-text>
  </div>

  <h3 class="mt-5">Form Text</h3>
  <n-input-text formText="Don't add fruits :)"></n-input-text>

  <h3 class="mt-5">Disabled</h3>
  <n-input-text [disabled]="true"></n-input-text>
</div>
